# ====================
# Admin Folder Rules
# ====================
admin/dist/css/alt/
admin/dist/img/
admin/dist/js/
admin/plugins/

# ====================
# Assets Folder Rules
# ====================
assets/*
!assets/css/
!assets/js/
!assets/scripts/
!assets/server/

# ====================
# Other Folder Rules
# ====================
ads/
attachments/
cgi-bin/
courses/
tickets/
uploads/
vendor/

# ====================
# eLearning Folder Rules
# ====================
eLearning/assets/css/*
!eLearning/assets/css/colors.css
!eLearning/assets/css/overlay.css
!eLearning/assets/css/styles.css
eLearning/assets/img/